.navbar {
    padding-right: 0px;
    padding-left: 0px;
    .window-nav {
        font-size: 17px;
        li {
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;
        }
    }
    .close {
        cursor: pointer;
        margin-right: 10px;
        line-height: 1px;
    }
}