<div *ngFor="let goal of goalsData.goals; let i = index;">
  <div class="row">
    <div class="col-6">
      <input class="form-control" type="text" [(ngModel)]="goal.content">
    </div>
    <div class="col-3 form-check">
        <input type="checkbox" class="form-check-input" id="{{ 'completed' + i }}" [(ngModel)]="goal.completed">
        <label class="form-check-label" for="{{'completed' + i }}">Completed</label>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="removeGoal(i)">Remove</button>
    </div>
  </div>
</div>
<div class="row">
  <button class="btn btn-primary" (click)="addGoal()">Add New Goal</button>
</div>