<div class="profile-view">
  <div class="row">
    <label for="pic">Upload Profile Image</label>
  </div>
  <div class="row">
    <input type="file" name="pic" accept="image/*">
  </div>
  <div class="row">
    <label>Class</label>
  </div>
  <div class="row">
    <input type="text">
  </div>
  <div class="row">
    <label>Background</label>
  </div>
  <div class="row">
    <textarea rows="4" cols="50"></textarea>
  </div> 
  <div class="row button-row pull-right">
    <button class="btn btn-primary btn-sm">{{ 'Edit' }}</button>
  </div>
</div>