<nav class="navbar">
  <ul class="nav window-nav">
    <li class="nav-item">
      <span>Habit Tracker</span>
    </li>
    <li class="nav-item">
      <a id="saveData" href="">Save Data</a>
    </li>
    <li class="nav-item">
      <a id="options" href="">Options</a>
    </li>
    <li class="nav-item">
      <a id="help" href="">Help</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-2 col-sm-3 side-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" routerLink="profile">My Character</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="goals">My Goals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="quests">Quests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="achievements">Achievements</a>
        </li>
      </ul>
    </nav>
    <main class="col-10 col-sm-9" id="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>