.side-nav {
    font-size: 12px;
    font-weight: bold;
    max-width: 130px;
    padding-left: 1px;
    padding-top: 5px;
}
.button-row {
    margin-top: 10px;
    margin-bottom: 10px;
    .btn-sm {
        padding: 0.2rem 0.4rem;
    }
}